@import "tailwindcss";

@theme {
  --color-cyber-dark: #0a0a1f;
  --color-cyber-blue: #00f3ff;
  --color-cyber-purple: #bc13fe;
  --color-cyber-glass: rgba(255, 255, 255, 0.1);

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

/* Global Styles */
body {
  background-color: var(--color-gray-900);
  color: white;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}